In [1]:
import pandas as pd
import numpy as np
df = pd.read_table('./data/DF_NASKNX07A.txt', header=None)

In [2]:
df

                                                    0
0   # Mon Jun 26 00:23:45 2017 HA Group Notificati...
1        # hostname: NASKNX07A serialno: 451416000026
2   <xml><status request_id="a6006242-65dd-44ec-98...
3   # Sun Jun 25 01:33:39 2017 HA Group Notificati...
4        # hostname: NASKNX07A serialno: 451416000026
5   Filesystem              kbytes       used     ...
6   /vol/vol1/           274596860    9433216  265...
7   /vol/vol1/.snapshot   14452464    2377124   12...
8   /vol/vol2/           274596860    9433216  265...
9   /vol/vol2/.snapshot   14452464    2377124   12...
10  /vol/vol3/           274596860    9433216  265...
11  /vol/vol3/.snapshot   14452464    2377124   12...
12  # Sun Jun 25 00:23:39 2017 HA Group Notificati...
13       # hostname: NASKNX07A serialno: 451416000026
14  <xml><status request_id="6965f1a0-c015-4ed9-b8...
15  # Sun Jun 26 02:33:39 2017 HA Group Notificati...
16       # hostname: NASKNX07A serialno: 451416000026
17  Filesystem              kbytes       used     ...
18  /vol/vol1/           274596860    9433216  265...
19  /vol/vol1/.snapshot   14452464    2377124   12...
20  /vol/vol2/           274596860    9433216  265...
21  /vol/vol2/.snapshot   14452464    2377124   12...
22  /vol/vol3/           274596860    9433216  265...
23  /vol/vol3/.snapshot   14452464    2377124   12...

In [3]:
# Return rows matching "Filesystem              kbytes       used      avail capacity  Mounted on"
header_list = df[df[0].str.contains('kbytes')].index.values
header_list

array([ 5, 17])

In [4]:
# Create list of rows starting with comments
end_list = df[df[0].str.contains('^#')].index.values
end_list

array([ 0,  1,  3,  4, 12, 13, 15, 16])

In [5]:
idx_list = []
for x in header_list:
    y = end_list[np.where(x<end_list)]
    if len(y)>0:        
        print(str(x) + ' ends ' + str(y[0]))
        idx_list.append([x, y[0]]) # We are using the first number in array y e.g. y[0]
    else:
        print(str(x)+' until end of file') 
        idx_list.append([x,]) # End of file has no y[0]

print idx_list
# df[idx_list[0][0]:idx_list[0][1]] 
# [0][0] is the first element in the first list idx_list e.g. 5
# [0][1] is the second element in the first list idx_list e.g. 83

# df[idx_list[1][0]:idx_list[1][1]]
# [0][0] is the first element in the first list idx_list e.g. 88
# [0][1] is the second element in the first list idx_list e.g. 166

5 ends 12
17 until end of file
[[5, 12], [17]]

In [6]:
counter = 0
for idxs in idx_list:
    if len(idxs)>1:
        print(idxs)
        df.loc[idxs[0]:idxs[1],'Filesystem'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[0])
        df.loc[idxs[0]:idxs[1],'kbytes'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[1])
        df.loc[idxs[0]:idxs[1],'used'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[2])
        df.loc[idxs[0]:idxs[1],'avail'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[3])
        df.loc[idxs[0]:idxs[1],'capacity'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[4])
        df.loc[idxs[0]:idxs[1],'Mounted on'] = df[idxs[0]:idxs[1]][0][1:].apply(lambda x: str.split(x)[5])

        df.loc[idxs[0]:idxs[1],'date'] = pd.to_datetime(df[idxs[0]-2:idxs[1]-1][0].str[6:26][0:1]).dt.strftime("%d/%m/%Y %H:%M:%S").values[0]
        df.loc[idxs[0]:idxs[1],'ASUP_Type'] = df[idxs[0]-2:idxs[1]-1][0].str.extract('\((.*?)\)', expand=True)[0].values[0]
        df.loc[idxs[0]:idxs[1],'hostname'] = df[idxs[0]-1:idxs[1]][0].str.split().values[0][2]
        df.loc[idxs[0]:idxs[1],'serial_no'] = df[idxs[0]-1:idxs[1]][0].str.split().values[0][4]
    else:
        print(idxs)
        df.loc[idxs[0]:,'Filesystem'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[0])
        df.loc[idxs[0]:,'kbytes'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[1])
        df.loc[idxs[0]:,'used'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[2])
        df.loc[idxs[0]:,'avail'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[3])
        df.loc[idxs[0]:,'capacity'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[4])
        df.loc[idxs[0]:,'Mounted on'] = df[idxs[0]:][0][1:].apply(lambda x: str.split(x)[5])

        df.loc[idxs[0]:,'date'] = pd.to_datetime(df[idxs[0]-2:-1][0].str[6:26][0:1]).dt.strftime("%d/%m/%Y %H:%M:%S").values[0]
        df.loc[idxs[0]:,'ASUP_Type'] = df[idxs[0]-2:-1][0].str.extract('\((.*?)\)', expand=True)[0].values[0]
        df.loc[idxs[0]:,'hostname'] = df[idxs[0]-1:][0].str.split().values[0][2]
        df.loc[idxs[0]:,'serial_no'] = df[idxs[0]-1:][0].str.split().values[0][4]

[5, 12]
[17]

In [7]:
counter = 0
for idxs in idx_list:
    if len(idxs)>1:
        #print(idxs)                   # Print all lists in the list
        #print df.loc[idxs[0]:idxs[1]] # Return dataframe with rows from first list
        #print df[idxs[0]:idxs[1]][0]  # Return an array for column (index 0) instead of dataframe
        print df[idxs[0]:idxs[1]][0][1:]  # skip first items from array
        # lambda function to iterate each item split by whitespace (default) and return the first item (index 0 i.e. e.g. Filesystem)
        #df.loc[idxs[0]:idxs[1],'Filesystem'] = df[idxs[0]:idxs[1]][0][2:].apply(lambda x: str.split(x)[0])

6     /vol/vol1/           274596860    9433216  265...
7     /vol/vol1/.snapshot   14452464    2377124   12...
8     /vol/vol2/           274596860    9433216  265...
9     /vol/vol2/.snapshot   14452464    2377124   12...
10    /vol/vol3/           274596860    9433216  265...
11    /vol/vol3/.snapshot   14452464    2377124   12...
Name: 0, dtype: object

In [8]:
df.drop([0], axis=1, inplace=True)

In [9]:
result_df = df[~df['Filesystem'].isnull()].reset_index(drop=True)
result_df = result_df[['date', 'ASUP_Type', 'hostname', 'serial_no', 'Filesystem', 'kbytes', 'used', 'avail', 'capacity', 'Mounted on']]

In [10]:
result_df.shape

(12, 10)

In [11]:
result_df['date'].unique()

array([u'25/06/2017 01:33:39', u'26/06/2017 02:33:39'], dtype=object)

In [12]:
result_df

,date,ASUP_Type,hostname,serial_no,Filesystem,kbytes,used,avail,capacity,Mounted on
0,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/,274596860,9433216,265163644,3%,/vol/vol1/
1,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/.snapshot,14452464,2377124,12075340,16%,/vol/vol1/.snapshot
2,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/,274596860,9433216,265163644,3%,/vol/vol2/
3,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/.snapshot,14452464,2377124,12075340,16%,/vol/vol2/.snapshot
4,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/,274596860,9433216,265163644,3%,/vol/vol3/
5,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/.snapshot,14452464,2377124,12075340,16%,/vol/vol3/.snapshot
6,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/,274596860,9433216,265163644,3%,/vol/vol1/
7,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/.snapshot,14452464,2377124,12075340,16%,/vol/vol1/.snapshot
8,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/,274596860,9433216,265163644,3%,/vol/vol2/
9,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/.snapshot,14452464,2377124,12075340,16%,/vol/vol2/.snapshot
10,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/,274596860,9433216,265163644,3%,/vol/vol3/
11,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/.snapshot,14452464,2377124,12075340,16%,/vol/vol3/.snapshot

In [13]:
active_result_df = result_df[result_df['Filesystem'].str.contains(".snapshot") == False]
active_result_df = active_result_df.reset_index(drop=True)
active_result_df.columns = ['date', 'ASUP_Type', 'hostname', 'serial_no', 'active_filesystem', 'afs_kbytes', 'afs_used', 'afs_avail', 'afs_capacity', 'afs_mounted']
active_result_df

,date,ASUP_Type,hostname,serial_no,active_filesystem,afs_kbytes,afs_used,afs_avail,afs_capacity,afs_mounted
0,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/,274596860,9433216,265163644,3%,/vol/vol1/
1,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/,274596860,9433216,265163644,3%,/vol/vol2/
2,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/,274596860,9433216,265163644,3%,/vol/vol3/
3,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/,274596860,9433216,265163644,3%,/vol/vol1/
4,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/,274596860,9433216,265163644,3%,/vol/vol2/
5,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/,274596860,9433216,265163644,3%,/vol/vol3/

In [14]:
snapshot_result_df = result_df[result_df['Filesystem'].str.contains(".snapshot")]
snapshot_result_df = snapshot_result_df.reset_index(drop=True)
snapshot_result_df.columns = ['date', 'ASUP_Type', 'hostname', 'serial_no', 'snap_filesystem', 'snap_kbytes', 'snap_used', 'snap_avail', 'snap_capacity', 'snap_mounted']
snapshot_result_df.drop(['date', 'ASUP_Type', 'hostname', 'serial_no'], axis=1, inplace=True)
snapshot_result_df

,snap_filesystem,snap_kbytes,snap_used,snap_avail,snap_capacity,snap_mounted
0,/vol/vol1/.snapshot,14452464,2377124,12075340,16%,/vol/vol1/.snapshot
1,/vol/vol2/.snapshot,14452464,2377124,12075340,16%,/vol/vol2/.snapshot
2,/vol/vol3/.snapshot,14452464,2377124,12075340,16%,/vol/vol3/.snapshot
3,/vol/vol1/.snapshot,14452464,2377124,12075340,16%,/vol/vol1/.snapshot
4,/vol/vol2/.snapshot,14452464,2377124,12075340,16%,/vol/vol2/.snapshot
5,/vol/vol3/.snapshot,14452464,2377124,12075340,16%,/vol/vol3/.snapshot

In [15]:
output_result_df = pd.concat([active_result_df, snapshot_result_df], axis=1)
output_result_df

,date,ASUP_Type,hostname,serial_no,active_filesystem,afs_kbytes,afs_used,afs_avail,afs_capacity,afs_mounted,snap_filesystem,snap_kbytes,snap_used,snap_avail,snap_capacity,snap_mounted
0,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/,274596860,9433216,265163644,3%,/vol/vol1/,/vol/vol1/.snapshot,14452464,2377124,12075340,16%,/vol/vol1/.snapshot
1,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/,274596860,9433216,265163644,3%,/vol/vol2/,/vol/vol2/.snapshot,14452464,2377124,12075340,16%,/vol/vol2/.snapshot
2,25/06/2017 01:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/,274596860,9433216,265163644,3%,/vol/vol3/,/vol/vol3/.snapshot,14452464,2377124,12075340,16%,/vol/vol3/.snapshot
3,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol1/,274596860,9433216,265163644,3%,/vol/vol1/,/vol/vol1/.snapshot,14452464,2377124,12075340,16%,/vol/vol1/.snapshot
4,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol2/,274596860,9433216,265163644,3%,/vol/vol2/,/vol/vol2/.snapshot,14452464,2377124,12075340,16%,/vol/vol2/.snapshot
5,26/06/2017 02:33:39,WEEKLY_LOG,NASKNX07A,451416000026,/vol/vol3/,274596860,9433216,265163644,3%,/vol/vol3/,/vol/vol3/.snapshot,14452464,2377124,12075340,16%,/vol/vol3/.snapshot